body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.split {
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
  width: 40%;
  border-right: 1px solid black;
}

.right {
  right: 0;
  width: 60%;
}

#tables {
  list-style-type: none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18;
}

li {
  border-top: 1px solid lightgray;
  padding-top: 3px;
  padding-bottom: 3px;
}

#li0 {
  border-top: none;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 22;
  background-color:dodgerblue;
  color:white;
}

#data-pane {
  padding: 20px;
}

#title {
  font-size: 24px;
  text-decoration: underline;
}

#guide-li {
  border-top: none;
}

#authors {
  font-size: 20px;
  text-decoration: underline;
}

.contact {
  font-size: 12px;
  color: gray;
  list-style-type: none;
}

#small-graph {
  padding: 60px 60px 60px 30px;
  height: 50%;
  bottom: 0px;
}
